body{
  padding:0;margin:0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
}
.Side{
  height: 100%;
  width: 260px;
  background-color:lightslategrey;
}
.free{
  height:auto;
  padding: 0;
  width: 100%;
}
.free .row{
  width: 100%;
  height: 50px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: azure;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
 #active{
  background-color: black;
}
.row:hover{
  cursor: pointer;
  background-color:black;
}
#icon{
  flex: 30%;
  display: grid;
  place-items: center;
}
#title{
  flex: 70%;
}

